Repository nikkvijay/Health-Lab-Report-Analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-typecheck, frontend-tests, backend-tests

.pre-commit-config.yaml:

repos:
  # Frontend hooks
  - repo: local
    hooks:
      - id: frontend-lint
        name: Frontend ESLint
        entry: bash -c 'cd HLRA-frontend && npm run lint'
        language: system
        files: '^HLRA-frontend/.*\.(ts|tsx|js|jsx)$'
        pass_filenames: false
        
      - id: frontend-typecheck
        name: Frontend TypeScript Check
        entry: bash -c 'cd HLRA-frontend && npx tsc --noEmit'
        language: system
        files: '^HLRA-frontend/.*\.(ts|tsx)$'
        pass_filenames: false
        
      - id: frontend-tests
        name: Frontend Tests
        entry: bash -c 'cd HLRA-frontend && npm run test:run'
        language: system
        files: '^HLRA-frontend/.*\.(ts|tsx|js|jsx)$'
        pass_filenames: false

  # Backend hooks
  - repo: local
    hooks:
      - id: backend-tests
        name: Backend Tests
        entry: bash -c 'cd HLRA-backend && source venv/bin/activate && python -m pytest tests/ -x --tb=short'
        language: system
        files: '^HLRA-backend/.*\.py$'
        pass_filenames: false

  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict

  # Security
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package-lock.json

chore: update requirements.txt to include additional testing and security libraries
  HLRA-backend/requirements.txt
Due: none

chore: simplify build script in package.json
  HLRA-frontend/package.json
Due: none

chore: update package.json to streamline dependencies and scripts
  HLRA-frontend/vercel.json
Due: none

chore: update vercel.json for improved build and deployment configuration
  HLRA-frontend/vercel.json
Due: none

docs: enhance README with live demo and API documentation links
  README.md
Due: none

fix(family_profiles): validate profile name and improve error handling
  HLRA-backend/app/api/v1/endpoints/family_profiles.py
  HLRA-backend/app/api/v1/endpoints/stats.py
  HLRA-backend/app/services/family_profile_service.py
  HLRA-frontend/node_modules/.vite/deps/@radix-ui_react-alert-dialog.js
  HLRA-frontend/node_modules/.vite/deps/@radix-ui_react-dialog.js
  HLRA-frontend/node_modules/.vite/deps/@radix-ui_react-dropdown-menu.js
  HLRA-frontend/node_modules/.vite/deps/@radix-ui_react-select.js
  HLRA-frontend/node_modules/.vite/deps/@radix-ui_react-tabs.js
  HLRA-frontend/node_modules/.vite/deps/@radix-ui_react-tooltip.js
  HLRA-frontend/node_modules/.vite/deps/_metadata.json
  HLRA-frontend/node_modules/.vite/deps/chunk-7R4HXFHP.js
  HLRA-frontend/node_modules/.vite/deps/chunk-7R4HXFHP.js.map
  HLRA-frontend/node_modules/.vite/deps/chunk-VW3Y7UQB.js
  HLRA-frontend/node_modules/.vite/deps/chunk-VW3Y7UQB.js.map
  HLRA-frontend/node_modules/.vite/deps/chunk-XTH6GZIJ.js
  HLRA-frontend/node_modules/.vite/deps/chunk-XTH6GZIJ.js.map
  HLRA-frontend/src/components/ui/profile-switcher.tsx
  HLRA-frontend/src/services/familyProfileService.ts
  HLRA-frontend/src/services/notificationService.ts
Due: frontend-lint, frontend-typecheck, frontend-tests, backend-tests

feat(notification): improve duplicate handling and demo notification setup
  HLRA-frontend/src/components/debug/NotificationDebug.tsx
  HLRA-frontend/src/contexts/NotificationContext.tsx
  HLRA-frontend/src/services/notificationService.ts
Due: frontend-lint, frontend-typecheck, frontend-tests

feat(family-profile): implement robust async profile service initialization and loading
  HLRA-frontend/src/App.tsx
  HLRA-frontend/src/components/debug/NotificationControls.tsx
  HLRA-frontend/src/components/ui/profile-switcher.tsx
  HLRA-frontend/src/contexts/AuthContext.tsx
  HLRA-frontend/src/contexts/FamilyProfileContext.tsx
  HLRA-frontend/src/pages/NotificationSettings.tsx
  HLRA-frontend/src/services/familyProfileService.ts
  HLRA-frontend/src/services/notificationService.ts
  HLRA-frontend/src/utils/notifications.ts
Due: frontend-lint, frontend-typecheck, frontend-tests

feat: update project branding and enhance security features
  HLRA-backend/app/api/v1/endpoints/auth.py
  HLRA-backend/app/core/security.py
  HLRA-backend/requirements.txt
  HLRA-frontend/index.html
  HLRA-frontend/src/components/Layout/Sidebar.tsx
  HLRA-frontend/src/components/auth/RegisterPage.tsx
  HLRA-frontend/src/contexts/AuthContext.tsx
  HLRA-frontend/src/contexts/HealthDataContext.tsx
  HLRA-frontend/src/contexts/NotificationContext.tsx
  HLRA-frontend/src/pages/SharedReport.tsx
  HLRA-frontend/src/services/familyProfileService.ts
  HLRA-frontend/src/services/notificationService.ts
  HLRA-frontend/src/utils/notifications.ts
Due: frontend-lint, frontend-typecheck, frontend-tests, backend-tests
